


.form_control.error textarea,
.form_control.error input {
    border: 2px solid red;
}


.form_control.error span {
    color: red;
}

.formSummeruError{
    border: 2px solid red;
    padding: 5px;
    color: darkcyan;
}