.profileInfo{
    position: relative;
}

.image img{
    width: 100%;
    background-size: cover;
}

/*======================*/
.eventTop{
    grid-area: event;
    width: 100%;
    padding: 18px 20px;
    

}

.eventTopLeft{
    float: left;

}
.eventTopLeft h4{

    left: 0;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    line-height: 24px;
    margin-bottom: 15px;
}
.eventTopRight {
    float: right;
}

.eventTopRight h4 {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    line-height: 24px;
    margin-bottom: 0;
}

/*====================*/
.photo{
    width: 100%;
    position: relative;
}

.photo img {
    width: 100%;
}

.photo_overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: .40;
    background-image: -moz-linear-gradient(transparent, black 85%);
    background-image: -webkit-linear-gradient(transparent, black 85%);
    background-image: -ms-linear-gradient(transparent, black 85%);
    background-image: linear-gradient(transparent, black 85%);
}

/*===========================*/
.user_img {
    width: 100%;
    margin-bottom: 28px;
    margin-top: -45px;
    position: relative;
    display: flex;

}


.user_img img{
    border-radius: 50%;
    border: 1px solid #fff;
    width: 155px;
    height: 155px;
    position: absolute;
    top: -125px;
    left: 13px;
}

.user_tab{
    width: 100%;
    margin-top: 43px;
    background-color: aliceblue;
    display: flex;
    padding: 10px;
    
}

.user_tab h3{
    color: #aeaeae;
    font-size: 24px;
    font-weight: 600;
    
   
}

.aboutMe{
    width: 100%;
    margin-bottom: 10px;
}

.descp{
    color: #686868;
    font-size: 18px;
    font-weight: 600;
}

.looking{
    margin-left: 220px;
}

.tab{
    width: 100%;
    margin-bottom: 45px;
    margin-top: 20px;
}

.icons{
    font-size: 26px;
    color: #3F51B5
}

.social_links li{
    margin-right: 20px;
}
.social_links{
    display: flex;
}