.posts{
    margin-top: 10px;
}

.item{
    width: 100%;
    background-color: #272727;
    border-left: 1px solid #2e2b2b;
    border-right: 1px solid #2e2b2b;
    border-bottom: 1px solid #2e2b2b;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px #2e2b2b;
}

.post_topbar{
    width: 100%;
    position: relative;
}
.usy_dt{
    display: flex;
}

.usy_dt img{
       border-radius: 50%;
    margin-top: 2px;
}

.usy_name{
    margin-left: 15px;
}

.usy_name h3{
    color: #aeaeae;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 2px;
}

.usy_name span {
    color: #b2b2b2;
    font-size: 15px;
}
.usy_name img {
    margin-top: 4px;
    margin-right: 6px;
}

.epi_sec{
    width: 100%;
}

.descp{
    margin-top: 15px;
    margin-bottom: 15px;
}

.descp span{
    color: #fff;
}

.descp li {
    display: inline-block;
    margin-right: 15px;
}

.descp li img {
    margin-right: 5px;
}

.faBookmark{
    color: #aeaeae;
    font-size: 24px;
}

.bk_links{
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
}
.bk_links li{
      margin-left: 20px;
}

.job_descp h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.job_dt {
    width: 100%;
    margin-bottom: 22px;
}

.job_dt li {
    display: inline-block;
    margin-right: 15px;
}

.job_dt li a {
    color: #fff;
    background-color: #51a5fb;
    text-transform: capitalize;
    padding: 5px 13px;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.job_dt li span {
    color: #aeaeae;
    font-size: 16px;
    font-weight: 600;
}

.job_descp  p {
    color: #fff;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 20px;
}

.skill_tags{
    width: 100%;
    margin-bottom: 15px;
}

.skill_tags li {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 10px;
}

.skill_tags li span {
    display: inline-block;
    color: #b2b2b2;
    font-size: 14px;
    background-color: #f1f1f1;
    border-radius: 30px;
    padding: 7px 15px;
    font-weight: 500;
}

.job_status_bar{
    border-top: 1px solid #e5e5e5;
}

.like_com {
    display: flex;
    position: relative;
    margin-top: 20px;
}

.like_com li {
    display: inline-block;
    margin-right: 15px;
}

.like_com li button {
    color: #b2b2b2;
    font-size: 14px;
    font-weight: 500;
    margin-top: 6px;
    margin-right: 5px;
    cursor: pointer;
    padding: 5px;
}

.like_com li img {
    margin-top: 5px;
    position: absolute;
}

.like_com li span {
    color: #ffffff;
    font-size: 13px;
    width: 30px;
    height: 30px;
    background-color: #e44d3a;
    line-height: 30px;
    border-radius: 30px;
    float: left;
    text-align: center;
    font-weight: 600;
    margin-left: 35px;
    margin-top: 5px;
    position: absolute;
}

.like_com li a {
    color: #b2b2b2;
    font-size: 14px;
    font-weight: 500;
    float: left;
    margin-top: 11px;
    margin-right: 5px;
    margin-left: 70px;
    text-decoration: none;
}

.faCommentAlt{
    margin-right: 5px;
}

.views a {
    color: #b2b2b2;
    font-size: 14px;
    margin-top: -27px;
    cursor: pointer;
    position: absolute;
    right: 0;
    text-decoration: none;
}