
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

.content{
    background: #272727;

}

.app-wrapper{
    display: grid;
    width: 1315px;
    margin: 0 auto;
    grid-template-areas:
    "nav content info";
    
    /*grid-template-columns: 8fr 10fr;*/
    grid-gap: 10px;

}



.app-wrapper-content{
    grid-area: content;
    max-width: 750px;
    width: 750px;

}





