
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

.content{
    background: #272727;
    overflow-x: hidden;
}

.app-wrapper{
    display: grid;
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    grid-template-areas:
    "header header"
    "nav content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 3fr 10fr;
    grid-gap: 10px;

}

.app-wrapper-content{
    grid-area: content;

}



