body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 18px;
}



body::-webkit-scrollbar-corner {
    background-color: rgba(0,0,0,.15);
}

body::-webkit-scrollbar-thumb {
  height: 6px;
  background-clip: padding-box;
  background-color: rgb(49, 49, 49);
}
