.dialogs{
    display: grid;
        grid-template-areas:
        "event event"
        "dialogs messages";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 3fr 10fr;
    border-radius: 3px;
    width: 100%;
    background-color: #313131;
    margin-bottom: 30px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07);
}

.dialogsItem{
    padding: 10px;
    grid-area: dialogs;

}
.dialogsItem a{
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid #272727;
    text-decoration: none;
    color: #fff ;
    font-size: 16px;
    align-items: center;
    display: flex;
}



.user_pos{
    padding-right: 20px;
    display: flex;
}
.dialogsItem .active{
    color: red;
}

.dialog{
    display: flex;
}

.dialog img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
}

/*=================*/


